.stratDC-bottom{
    display: flex;
    justify-content: center;
    &__wrap{
        padding: 0 0 10px;
        .content-wrapper{
            padding: 0;
        }
    }
    &__box{
        width: 50%;
        // width: 35%;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        align-items: center;
        justify-content: space-between;
        &-txt{
            font-size: 14px;
            color: $color-black;
            margin-bottom: $spacer-2;
            line-height: 20px;
            &:hover{
                color: var(--theme-color);
            }
        }
        &--location{
            display: flex;
            flex-direction: row;
            justify-content: center;
            // justify-content: flex-start;
            align-items: flex-start;
            position: relative;
            &-icns{
                width: 18px;
                height: 23px;
                margin-right: 10px;
                margin-top: 2px;
                svg{
                    width: 100%;
                }
                path{
                    fill:var(--theme-color);
                    background-color: transparent;
                }
            }
            &::before{
                content: "";
                height: 100%;
                width: 1px;
                right:-13px;
                top: 0;
                position: absolute;
                background: rgb(255,255,255);
                background: linear-gradient(180deg, rgba(255,255,255,1) 0%, var(--theme-color), rgba(255,255,255,0) 100%);
            }
        }
        &--sociable{
            &-icns{
                width:30px;
                height:30px;
                svg{
                    width: 100%;
                    transition: 0.3s;
                    path{
                        fill:none;
                    }
                    .cls-1{
                        stroke:$color-black;
                        fill: none;
                        stroke-miterlimit: 10;
                        stroke-width: .63px;
                    }
                    .cls-2 {
                        fill: var(--theme-color)
                    }
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
            .stratDC-bottom__box-txt{
                &:hover{
                    color: $color-black;
                }
            }
            &-wrap{
                display: flex;
                flex-direction: column;
            }
            .stratDC-bottom__box-txt{
                color: var(--theme-color);
            }
        }
        &-in{
            display: flex;
        }
        
    }
}
.stratDC-bottomLast{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--theme-color);
    padding: $spacer-1 0;
    img{
        margin: $spacer-1;
        width: 30px;
    }
    &__link{
        color:$color-white;
        font-size:14px;
        font-weight: $font-semi-bold;
        &:hover{
            color: $color-white;
        }
    }
    &__logos{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spacer-3 0 0;
        border-bottom: 0px solid var(--theme-color);
        img{
            width:24%;
            margin: 0 10px;
        }
    }
}
.stratDC-btm{
    &.stratDC-btm__landing{
        .stratDC-bottomLast__logos{
            padding: $spacer-3 0 ;
            img{
                width:75px;
            }
        }
        .stratDC-bottom__box-txt{
            font-size: 18px;
            color: $color-black;
            margin-bottom: $spacer-2;
            line-height: 24px;
            // display: flex;
            // flex-direction: column;
            &-s{
                display: block;
            }
            
        }
    }
}
@include mobile{
    .stratDC-bottom{
        display: flex;
        justify-content: flex-start;
        &__wrap{
            padding: $spacer-4 0;
            .content-wrapper{
                padding:0 15px;
            }
        }
        &__box{
            width: 50%;
            &--location{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                position: relative;
            }
            &-txt{
                font-size: 14px;
                color: $color-black;
                margin-bottom: $spacer-2;
                line-height: 16px;
            }
        }
    }
    .stratDC-bottomLast{
        padding: $spacer-2 0;
        &__link{
            color:$color-white;
            font-size:18px;
        }
        &__logos{
            border-bottom: 10px solid var(--theme-color);
            padding: $spacer-3 0 ;
            img{
                width: 110px;
            }
        }
    }
    .stratDC-btm{
        &.stratDC-btm__landing{
            .stratDC-bottomLast__logos{
                padding: $spacer-3 0 ;
                img{
                    width: 110px;
                }
            }
            .stratDC-bottom__box-txt{
                font-size: 13px;
                color: $color-black;
                margin-bottom: $spacer-2;
                line-height: 16px;
                display: flex;
                flex-direction: column;
                &-f{
                    display: block;
                }
            }
        }
    }
}