.stratDC-bottom{
    display: flex;
    &__wrap{
        padding: $spacer-4 0;
    }
    &__box{
        width: 50%;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        align-items: center;
        justify-content: space-between;
        &-txt{
            font-size: 12px;
            color: $color-black;
            margin-bottom: $spacer-2;
            line-height: 14px;
            &:hover{
                color: var(--theme-color);
            }
        }
        &--location{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            position: relative;
            &-icns{
                width: 18px;
                height: 23px;
                margin-right: 10px;
                margin-top: 2px;
                svg{
                    width: 100%;
                }
                path{
                    fill:var(--theme-color);
                    background-color: transparent;
                }
            }
            &::before{
                content: "";
                height: 100%;
                width: 1px;
                right:-13px;
                top: 0;
                position: absolute;
                background: rgb(255,255,255);
                background: linear-gradient(180deg, rgba(255,255,255,1) 0%, var(--theme-color), rgba(255,255,255,0) 100%);
            }
        }
        &--sociable{
            &-icns{
                width:30px;
                height:30px;
                svg{
                    width: 100%;
                    path{
                        fill:none;
                    }
                    .cls-1{
                        stroke:$color-black;
                        fill: none;
                        stroke-miterlimit: 10;
                        stroke-width: .63px;
                    }
                    .cls-2 {
                        fill: var(--theme-color)
                    }
                }
            }
            .stratDC-bottom__box-txt{
                &:hover{
                    color: $color-black;
                }
            }
            &-wrap{
                display: flex;
                flex-direction: column;
            }
            .stratDC-bottom__box-txt{
                color: var(--theme-color);
            }
        }
        &-in{
            display: flex;
        }
        
    }
}
.stratDC-bottomLast{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--theme-color);
    padding: $spacer-2 0;
    img{
        margin: $spacer-1;
        width: 30px;
    }
    &__link{
        color:$color-white;
        font-size:18px;
        font-weight: $font-semi-bold;
        &:hover{
            color: $color-white;
        }
    }
    &__logos{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spacer-4;
        border-bottom: 10px solid var(--theme-color);
        img{
            width: 30%;
            margin: 0 10px;
        }
    }
}