.stratDC-profile{
    display: flex;
    flex-direction: row;
    // align-items: end;
    &__wrap{
        margin: -30px 0 $spacer-2;
    }
    &__pic{
        width:140px;
        height: 140px;
        display: flex;
        align-items: center;
        border: 2px solid var(--theme-color);
        border-radius: 50%;
        padding: 5px;
        flex-direction: column;
        &-img{
            border-radius: 50%;
            width: 100%;
            -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
            box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
        }
    }
    &__dec{
        // width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-left:14px;
        justify-content: center;
    }
    &__name{
        font-size:25px;
        color: $color-black;
        font-weight: $font-bold;
        line-height:25px;
        margin-bottom:$spacer-1;
    }
    &__desg{
        font-size: 18px;
        color: var(--theme-color);
        font-weight:$font-medium;
        margin-bottom: $spacer-2;
        line-height: 1;
    }
    &__contact{
        font-size: 13px;
        color: $color-black;
        font-weight:$font-regular;
        margin-bottom: $spacer-2; 
        line-height: 14px;
        a{
            color: $color-black;
            font-size: 13px;
        }
    }
    &__connect{
        display: flex;
        margin-top: $spacer-4;
        &__pic{
            flex-direction: row;
        }
        &-icn{
            width:30px;
            height:30px;
            svg{
                width: 100%;
                transition: 0.3s;
                path{
                    fill:none;
                }
                .cls-1{
                    stroke:$color-black;
                    fill: none;
                    stroke-miterlimit: 10;
                    stroke-width: .63px;
                }
                .cls-2 {
                    fill: var(--theme-color);
                }     
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}
@include mobile{
    .stratDC-profile{
        display: flex;
        flex-direction: row;
        &__wrap{
            margin: -30px 0 $spacer-4;
        }
        &__name{
            font-size:20px;
            line-height:20px;
        }
        &__desg{
            font-size: 15px;
        }
        &__contact{
            font-size: 11px;
            margin-bottom: $spacer-2;
            a{
                color: $color-black;
                font-size: 11px;
            }
        }
        &__connect{
            display: flex;
            margin-top: $spacer-2;
            &-icn{
                width:30px;
                height:30px;
                svg{
                    width: 100%;
                    path{
                        fill:none;
                    }
                    .cls-1{
                        stroke:$color-black;
                        fill: none;
                        stroke-miterlimit: 10;
                        stroke-width: .63px;
                    }
                    .cls-2 {
                        fill: var(--theme-color);
                    }
                    
                }
            }
        }
    }
}